/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;

}

nav a{
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 2em;
}

#logo {
    visibility: hidden;
}
header >nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



header nav >a {
    color: black;
}
header nav a >.logo {
    display: inline-block;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    border-bottom: .15em dashed black;

}

.aboutSection >.text {
    padding: 2%;
}

.midSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1% 5% 1% 5%;
}

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: .15em dashed black;
    width: 45%;
    margin-bottom: 2em;
    padding: 5% 0 5% 0;
}
.textBox >button {
    font-weight: 510;
    border: 3px solid black;
    background-color: white;
    padding: .7em;
    border-radius: 10px;
    margin-top: 1em;
    width: 50%;

}

.textBox >img {
    margin-bottom: 10px;
}
.topPart {
    display: flex;
    justify-content: space-between;
}

.bottomPart {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    flex-direction: column;
}

.footerText {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 3em;
}
footer >nav {
    display: flex;
    align-items: flex-start;
    background-color: black;
}

footer nav >a {
    margin: 1.5% 5% 1.5% 1%;
    text-decoration: none;
    color: white;
}

@media screen and (max-width:750) {
    header {
        flex-direction: column;
    }

    #logo {
        visibility: visible;
    }
    #hide {
        display: none;
    }

    .midSection {
        justify-content: center;
        max-width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
    }